<div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-center">
      <div class="col-8 m-4">
        <div class="card text-center shadow-lg p-0 mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= user.username if user%>
          </div>
          <div class="card-body">
            <%= gravatar_for user, size: 150%>
            <h5><%=pluralize(user.articles.count,"article")%></h5>
            <br/>
            <div class="row justify-content-center mb-3">
              <%= link_to  "View", user_path(user), class:"btn btn-primary mr-2" %>
              <%if logged_in?%>
                <%if user == current_user%>
                  <%= link_to  "Edit", edit_user_path(user), class:"btn btn-outline-info" %>
                <%end%>
                <%if current_user.admin?%>
                  <%= link_to  "Delete", user_path(user), class:"btn btn-outline-danger ml-2", method: :delete, data: {confirm: "Are you sure?"} %>
                <%end%>
              <%end%>
            </div>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at)%> ago</small>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
